<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="base:: FinalHead"></head>

<body class="teacher-module">
<th:block th:replace="base::FinalNavAdmin"></th:block>
<div class="container">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="panel panel-default card card-3">
            <div class="panel-heading">
                <div class="text-center feedback">
                    <h2>Choose an existing or deleted course to copy</h2>
                </div>
            </div>
            <div class="panel-body">
                <form action="#" th:action="@{/addduplicatecourse}" th:object="${course}" method="post">
                    <div class="text-center feedback">
                        <h4>The dates and teacher may be different, but the CRN# and name must be the same.</h4>
                    </div>
                    <input type="hidden" th:field="*{id}" />
                    <div class="form-group">
                        <label class="section-heading" for="selectCourse">Select a Course</label>
                        <select id="selectCourse" class="form-control" name="selectCourse">
                            <option th:each="item : ${courses}"
                                    th:value="${item.id}"
                                    th:text="${item.name} + ' - CRN: ' + ${item.courseRegistrationNum}"></option>
                        </select>
                       <input type="hidden" th:field="*{courseRegistrationNum}"/>
                        <input type="hidden" th:field="*{name}"/>
                    </div>
                    <!--<div class="form-group">-->
                        <!--<label class="section-heading" for="name">Name</label>-->
                        <!--<input id="name" class="form-control" type="text" th:field="*{name}"/>-->
                        <!--<p class="alert alert-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>-->
                    <!--</div>-->
                    <div class="form-group">
                        <label class="section-heading" for="dateStart">Start Date</label>
                        <input id="dateStart" class="form-control" type="text" th:field="*{dateStart}" th:placeholder="'Jul 4, 2017'"/>
                        <p class="alert alert-danger" th:if="${#fields.hasErrors('dateStart')}" th:errors="*{dateStart}" th:text="'Please enter a day, month (first three letters), and year.'"></p>
                    </div>
                    <div class="form-group">
                    <label class="section-heading" for="dateEnd">End Date</label>
                    <input id="dateEnd" class="form-control" type="text" th:field="*{dateEnd}" th:placeholder="'Sep 8, 2017'"/>
                        <p class="alert alert-danger" th:if="${#fields.hasErrors('dateEnd')}" th:errors="*{dateEnd}" th:text="'Please enter a day, month (first three letters), and year.'"></p>
                        <p class="alert alert-danger" th:if="${negativeDayCount}" th:text="'Please enter an end date after or the same as the start date'"></p>
                    </div>

                    <!-- select a teacher drop down -->
                    <div class="form-group">
                        <label class="section-heading" for="selectaTeacher">Select a Teacher</label>
                        <select id="selectaTeacher" class="form-control" name="selectedTeacher">
                            <option th:each="item : ${teachers}"
                                    th:value="${item.id}"
                                    th:text="${item.nameFirst} + ' ' + ${item.nameLast}"></option>
                        </select>
                    </div>

                    <div class="clearfix"></div>
                    <input th:disabled="${disSubmit}" class="btn btn-primary bold-input" type="submit" value="Submit">
                </form>

            </div>
        </div>
    </div>
</div><!-- container -->

<th:block th:replace="base::Footer"></th:block>
<th:block th:replace="base::FinalJS"></th:block>

</body>

</html>