<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- it seems that you can't put your head inside a th:block -->
<head th:fragment="FinalHead">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>-->
    <!-- Optional theme -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Manage your college admin system with Student Bot 5k!">
    <meta name="author" content="Nathan Merris">
    <title>Student Bot 5K</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/custom.css}" rel="stylesheet">

</head>

<body>

<th:block th:fragment="FinalNav">
<!--Not logged in-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <ul class="nav navbar-nav">
        <li><a href="/welcome">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Sign up</a></li>
        <li><a href="/evaluation">Evaluation</a></li>
        </ul>
    </div>
</nav>
</th:block>

<th:block th:fragment="FinalNavTeacher">
<!--Teacher-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <ul class="nav navbar-nav">

            <li><a href= "/mycoursesdetail">My classes</a></li>
        </ul>
    </div>
</nav>
</th:block>

<th:block th:fragment="FinalNavAdmin">
    <!--Admin-->
    <div class="container">
        <ul class="nav navbar-nav">
        <li><a href="/addcourse">Add course</a></li>
        <li><a href="/viewcourses">View courses</a></li>
        <li><a href="/teachers">View teachers</a></li>
        </ul>
    </div>
</th:block>


<th:block th:fragment="FinalJS">
    <!-- jquery MUST come before boostrap here or modal won't work -->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->
</th:block>
</body>
</html>