<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="base:: FinalHead"></head>

<body>
<th:block th:replace="base::FinalNavTeacher"></th:block>
<br />
<br />
<br />

<div class="container">
    <div class="row justify-content-center">
        <div class="col col-sm-10">
            <table border="1">
                You entered this information:
                <thead>
                <td>Name</td>
                <td>Contact Number</td>
                <td>Email</td>
                </thead>
                <tr>
                    <td th:text="${newstudent.getFullName()}"></td>
                    <td th:text="${newstudent.contactNum}"></td>
                    <td th:text="${newstudent.email}"></td>
                </tr>
            </table>
            <table border="1">
                We found these possible matches:
                <tr>
                <td>Name</td>
                <td>Contact Number</td>
                <td>Email</td>
                <td>Claim</td>
                </tr>
                <tr th:each="potential:${potentials}">
                    <td th:text="${potential.getFullName()}"></td>
                    <td th:text="${potential.contactNum}"></td>
                    <td th:text="${potential.email}"></td>
                    <td><a th:href="@{/addstudent/{id}(id=courseId)}">This is me!</a></td>
                </tr>
                <tr>
                    <td><a th:href="@{/addstudent/{id}(id=courseId)}">None of these are me</a></td>
                </tr>
            </table>



        </div>
    </div>
</div>
<th:block th:replace="base::Footer"></th:block>
<th:block th:replace="base::FinalJS"></th:block>
</body>
</html>