<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="base:: FinalHead"></head>

<body>
<th:block th:replace="base::FinalNavAdmin"></th:block>

<div class="container">
    <div class="row justify-content-center">
        <div class="col col-sm-10">
            <form action="#" th:action="@{/addstudent/{cid}(cid=${course.id})}" th:object="${newstudent}" method="post">
                <div class="text-center feedback">
                    <h2>Please enter student infos.</h2>
                </div>
                <div class="row justify-content-center">

                    <input type="hidden" th:field="*{id}"/>

                    <div class="col col-sm-6 form-group">
                        <label for="firstName">First name</label>
                        <input type="text" class="form-control" th:field="*{nameFirst}" id="firstName"
                               autofocus="autofocus" placeholder="Given name"/>
                        <p class="alert alert-danger" th:if="${#fields.hasErrors('nameFirst')}" th:errors="*{nameFirst}"></p>
                    </div>
                    <div class="col col-sm-6 form-group">
                        <label for="lastName">Last name</label>
                        <input type="text" class="form-control" th:field="*{nameLast}" id="lastName"
                               placeholder="Family name"/>
                        <p class="alert alert-danger" th:if="${#fields.hasErrors('nameLast')}" th:errors="*{nameLast}"></p>
                    </div>
                </div>
                <div class="row justify-content-left">
                    <div class="col col-sm-12">
                        <button type="submit" class="btn btn-primary">Submit</button>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<th:block th:replace="base::FinalJS"></th:block>
</body>
</html>