<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="base:: FinalHead"></head>
<body>
<th:block th:replace="base::FinalNavAdmin"></th:block>
<div class="container">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="panel panel-default card card-3">
            <div class="panel-body">
                <div class="panel panel-primary">
                    <div class="panel-heading"><h4><b th:text="${course.name}"></b></h4></div>
                    <ul class="list-group">
                        <li class="list-group-item" th:text="${'CRN Number:  ' + course.courseRegistrationNum}"></li>
                        <!--<li class="list-group-item" th:text="${'Name: ' + course.name}"></li>-->
                        <li class="list-group-item" th:text="${'Start Date: ' + course.dateStart}"></li>
                        <li class="list-group-item" th:text="${'End Date: ' + course.dateEnd}"></li>
                        <li class="list-group-item" th:text="${'Number of Students: ' + numStudents}"></li>
                        <li class="list-group-item" th:text="${'Number of evaluations: ' + course.evaluations.size()}"></li>
                        <th:block th:each="singleteacher:${teachers}">
                            <li class="list-group-item" th:text="${'Teacher: '+ singleteacher.getFullName()}"></li>
                        </th:block>
                    </ul>
                </div>
                <a class="btn btn-info bold-input" th:href="@{/editcourse/{id}(id=${course.id})}"><b>Edit Course</b></a>
                <a class="btn btn-danger bold-input" th:href="@{/deletecourse/{id}(id=${course.id})}"><b>Delete Course</b></a>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="base::Footer"></th:block>
<th:block th:replace="base::FinalJS"></th:block>
</body>
</html>