<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="base:: FinalHead"></head>

<body>


<th:block th:replace="base::FinalNav"></th:block>

<div class="container">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="panel panel-default card card-3">
            <div class="panel-body">

                <caption> <h4><b> Registered Student List: </b></h4></caption>
                <table class="table table-striped" class="table table-hover">
                    <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Contact Number</th>
                        <th>Time Arrived</th>

                    </tr>
                    </thead>
                    <tbody align="left">
                    <tr th:each="student : ${liststudent}">
                        <td th:text="*{student.nameFirst}"></td>
                        <td th:text="*{student.nameLast}"></td>
                        <td th:text="*{student.email}"></td>
                        <td th:text="*{student.contactNum}"></td>
                        <td th:text="${student.getTimeStampByCourseId(__${id}__)}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div><!-- container -->

<th:block th:replace="base::FinalJS"></th:block>

</body>

</html>