<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="base:: FinalHead"></head>
<body>
<div sec:authorize="hasAuthority('ADMIN')">
    <th:block th:replace="base::FinalNavAdmin"></th:block>
</div>
<div sec:authorize="hasAuthority('TEACHER')">
    <th:block th:replace="base::FinalNavTeacher"></th:block>
</div>


<div class="container">
    <div class="col-lg-10 col-lg-offset-1">
        <div class="panel panel-default card card-3">
            <div class="panel-body">

                <div class="table-responsive">
                    <table class="table table-hover">
                        <caption><h3><b th:text="'Registered Students for ' + ${courseName} + ' - CRN ' + ${courseCrn}"></b></h3></caption>

                        <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Contact Number</th>
                            <th>Time Arrived</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="student : ${liststudent}">
                            <td th:text="*{student.nameFirst}"></td>
                            <td th:text="*{student.nameLast}"></td>
                            <td th:text="*{student.email}"></td>
                            <td th:text="*{student.contactNum}"></td>
                            <td th:text="${#dates.format(student.getTimeStampByCourseId(__${id}__), 'MMM dd, yyyy - h:mm a')}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
         </div>
    </div>
</div><!-- container -->

<th:block th:replace="base::Footer"></th:block>
<th:block th:replace="base::FinalJS"></th:block>

</body>

</html>