<!DOCTYPE html>

<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

    <head th:replace="base:: FinalHead"></head>


<body  class="login-page">
<th:block th:replace="base::FinalNav"></th:block>
<div class="container">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="panel panel-default card card-3">
            <div class="panel-heading txtCenter">
                <h2>Please log in</h2>
            </div>
            <div class="panel-body">
                <h4 class="section-heading" th:text="${message}"></h4>

                <!-- '?error' is appended automatically by spring if there is a login problem.. cool! -->
                <form autocomplete="off" class="form-signin" th:action="@{/login}" method="post">
                    <div class="inner-addon left-addon">
                        <i class="glyphicon glyphicon-user loginglyph"></i>
                        <input type="text" name="username" class="form-control" placeholder="username" autofocus>
                    </div>
                    <br/>
                    <div class="inner-addon left-addon">
                        <i class="glyphicon glyphicon-lock"></i>
                        <input type="password" name="password" class="form-control" placeholder="password">
                    </div>

                    <br/>
                    <!-- 'param' must be a thymeleaf keyword, it just picks up the param, nothing else needed -->
                    <p class="alert alert-danger" th:if="${param.error}">Invalid username or password</p>
                    <p class="alert alert-success" th:if="${param.logout}">You have been logged out</p>

                    <br/>
                    <br/>
                    <input class="btn btn-lg btn-primary bold-input" type="submit" value="Sign In"/>
                    <a th:href="@{~/signup}" class="btn btn-lg btn-primary bold-input" role="button">Sign Up</a>
                    <!--<a class="btn btn-lg bold-input text-center" th:href="@{~/signup}">Sign Up Now!</a>-->
                </form>

            </div>
        </div>
    </div>
</div>
<th:block th:replace="base::Footer"></th:block>
<th:block th:replace="base::FinalJS"></th:block>
</body>
</html>

