<!DOCTYPE html>

<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="base:: FinalHead"></head>


<body>
<th:block th:replace="base::FinalNavTeacher"></th:block>
<div class="container">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="panel panel-default card card-3">
            <div class="panel-heading section-heading">
                <h2 th:text="'Course name: ' + ${course.name}"></h2>
            </div>
            <div class="panel-body">

                <!-- form to select an admin to send an email to -->
                <!--returns the admin id of the selected admin, as a request param -->
                <form class="form-signin" th:action="@{|/sendemail?type=${emailType}|}" method="post">

                    <!-- pass the course id through, because we need to know which course to send the attendance info for -->
                    <label class="section-heading">Select an admin to send attendance details to</label>
                    <input type="hidden" name="courseId" th:value="${course.id}">

                    <div class="form-group">
                        <select class="form-control" name="selectedAdminId">
                            <option th:each="item : ${adminList}"
                                    th:value="${item.id}"
                                    th:text="${item.getFullName() + ' - ' + item.email}"></option>

                        </select>
                    </div>

                    <button class="btn btn-lg btn-primary bold-input text-center" type="submit">Send Email</button>
                </form>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="base::Footer"></th:block>
<th:block th:replace="base::FinalJS"></th:block>
</body>
</html>

