<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="base:: FinalHead"></head>

<body>

<h3 th:text="'Student: ' + ${studentName}"></h3>
<h3 th:text="'Course: ' + ${courseName}"></h3>

<form action="#" th:action="@{~/takeattendance/{id}(id=${courseId})}" th:object="${attendanceWrapper}" method="post">

<table class="table table-hover">
    <!--<caption><h3><b></b></h3></caption>-->
    <thead>
        <tr>
            <th>Date</th>
            <th>Status</th>
        </tr>
    </thead>

    <tbody>

        <th:block th:each="item, iter : *{attendanceList}">
            <tr>
                <td th:text="${#dates.format(item.date, 'MMM-dd-yyyy')}"></td>
                <td>
                    <!-- checked is not working, not sure why -->
                    <input checked type="radio" th:field="*{attendanceList[__${iter.index}__].astatus}" value="Present">Present
                    <input type="radio" th:field="*{attendanceList[__${iter.index}__].astatus}" value="Late">Late
                    <input type="radio" th:field="*{attendanceList[__${iter.index}__].astatus}" value="Absent">Absent
                    <input type="hidden" th:field="*{attendanceList[__${iter.index}__].date}" th:value="${item.date}">
                    <input type="hidden" th:field="*{attendanceList[__${iter.index}__].id}" th:value="${item.id}">
                    <input type="hidden" th:field="*{attendanceList[__${iter.index}__].course.id}" th:value="${item.course.id}">
                    <input type="hidden" th:field="*{attendanceList[__${iter.index}__].person.id}" th:value="${item.person.id}">
                </td>
            </tr>
        </th:block>

    </tbody>
</table>


    <br/>
    <input class="btn btn-primary bold-input" type="submit" value="Submit"/>
</form>

<th:block th:replace="base::FinalNav"></th:block>

<th:block th:replace="base::FinalJS"></th:block>
</body>
</html>