<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="base:: FinalHead"></head>

<body class="teacher-module">


<th:block th:replace="base::FinalNavTeacher"></th:block>

<div class="container">
    <div class="col-lg-10 col-lg-offset-1">
        <div class="panel panel-default card card-3">
            <div class="panel-body">


                    <caption> <h4><b th:text="'Course list for: ' + ${teachercourse.getFullName()}"></b></h4></caption>
                    <table class="table table-striped" class="table table-hover">
                        <thead>
                        <tr>
                            <th>Course Name</th>
                            <th>CR Number</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Evals Completed</th>
                            <th>Numbers of Students</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody align="left">
                        <tr th:each="list: ${courselist}">
                            <td th:text="*{list.name}"></td>
                            <td th:text="*{list.courseRegistrationNum}"></td>
                            <td th:text="*{list.dateStart}"></td>
                            <td th:text="*{list.dateEnd}"></td>
                            <td th:text="*{list.numEvaluationsCompleted}"></td>
                            <td th:text="*{list.getNumStudents()}"></td>

                            <td>
                                <a th:href="@{/addstudent/{id}(id=${list.id})}">Register New Student(s)</a>
                                <a th:href="@{/viewregisteredstudent/{id}(id=${list.id})}">View Registered Students</a>
                                <a th:href="@{/dispevaluation/{id}(id=${list.id})}">View Course Evaluations</a>
                                <a th:href="@{/sendemail(id=${list.id})}">Send Attendance Details</a>
                                <a th:href="@{/takeattendance/{id}(id=${list.id})}">Take Attendance</a>
                                <a th:href="@{/sendemails(id=${list.id})}">Send Evaluation Details</a>

                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
             </div>
             </div>
        </div><!-- container -->

<th:block th:replace="base::Footer"></th:block>

    <th:block th:replace="base::FinalJS"></th:block>

</body>

</html>