<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="base:: FinalHead"></head>

<body>

<th:block th:replace="base::FinalNavAdmin"></th:block>

<!-- show a gigantic table of evaluations for a single teacher -->
<div class="container">
    <div class="col-lg-12">
        <div class="panel panel-default card card-3">
            <div class="panel-body">

                <!-- this table shows all evals for a teacher, including for deleted courses -->
                <!-- the reason is that you might want to go back and review evals after deleting a course -->
                <caption> <h4><b th:text="'All evaluations for: ' + ${courseName}"></b></h4></caption>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Course Name</th>
                            <th>Deleted</th>
                            <th>CRN</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Content</th>
                            <th>Inst Quality</th>
                            <th>Training Exp</th>
                            <th>Textbook</th>
                            <th>Class Env</th>
                            <th>Equipment</th>
                            <th>What Did You Like About This Course</th>
                            <th>What Didn't You Like About This Course</th>
                            <th>What Improvement Would You Make</th>
                            <th>What Other Classes Are You Taking</th>
                            <th>How Did You Find Out</th>
                        </tr>
                        </thead>

                        <tbody align="left">
                        <tr th:each="item : ${evaluations}">
                            <td th:text="*{item.course.name}"></td>
                            <td th:text="*{item.course.getDeletedString()}"></td>
                            <td th:text="*{item.course.courseRegistrationNum}"></td>
                            <td th:text="*{#dates.format(item.course.dateStart, 'MM-dd-yy')}"></td>
                            <td th:text="*{#dates.format(item.course.dateEnd, 'MM-dd-yy')}"></td>
                            <td th:text="*{item.courseContentRating}"></td>
                            <td th:text="*{item.instructionQualityRating}"></td>
                            <td th:text="*{item.trainingExperienceRating}"></td>
                            <td th:text="*{item.textBookRating}"></td>
                            <td th:text="*{item.classroomEnvironment}"></td>
                            <td th:text="*{item.equipmentRating}"></td>
                            <td th:text="*{item.whatDidYouLike}"></td>
                            <td th:text="*{item.whatDidntYouLike}"></td>
                            <td th:text="*{item.whatImprovements}"></td>
                            <td th:text="*{item.whatOtherClasses}"></td>
                            <td th:text="*{item.howDidYouFindOut}"></td>
                        </tr>
                        </tbody>

                    </table>
                </div>

            </div>
        </div>
    </div>
</div><!-- container -->


<th:block th:replace="base::FinalJS"></th:block>
</body>
</html>