<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="base:: FinalHead"></head>

<body>







<!-- THIS VIEW DOES NOT NEED TO EXIST, IT IS NOT A REQUIREMENT THAT ANYONE CAN VIEW THE ATTENDANCE OF A PARTICULAR COURSE
     IN HTML FORM... REQUIREMENTS STATE THAT TEACH MUST SEND AN EMAIL OF ATTENDANCE TO THE ADMIN, THAT IS ALL -->







<th:block th:replace="base::FinalNavTeacher"></th:block>

<div class="container">
    <div class="col-lg-10 col-lg-offset-1">
        <div class="panel panel-default card card-3">
            <div class="panel-body">

                <caption> <h4><b> Registered Student List: </b></h4></caption>
                <table class="table table-striped" class="table table-hover">
                    <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Contact Number</th>

                    </tr>
                    </thead>
                    <tbody align="left">
                    <tr th:each="list: ${liststudent}">
                        <td th:text="*{list.nameFirst}"></td>
                        <td th:text="*{list.nameLast}"></td>
                        <td th:text="*{list.email}"></td>
                        <td th:text="*{list.contactNum}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div><!-- container -->

<th:block th:replace="base::FinalJS"></th:block>

</body>

</html>