<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="base:: FinalHead"></head>

<body>


<th:block th:replace="base::FinalNavAdmin"></th:block>

<div class="container">
    <div class="col-lg-10 col-lg-offset-1">
        <div class="panel panel-default card card-3">
            <div class="panel-body">


                <caption> <h4><b th:text="'Course list for: ' + ${studentcourse.getFullName()}"></b></h4></caption>
                <table class="table table-striped" class="table table-hover">
                    <thead>
                    <tr>
                        <th>Course Name</th>
                        <th>CR Number</th>
                        <th>Start Date</th>
                        <th>End Date</th>

                    </tr>
                    </thead>
                    <tbody align="left">
                    <tr th:each="list: ${courselist}">
                        <td th:text="*{list.name}"></td>
                        <td th:text="*{list.courseRegistrationNum}"></td>
                        <td th:text="*{#dates.format(list.dateStart, 'MMM dd, yyyy')}"></td>
                        <td th:text="*{#dates.format(list.dateEnd, 'MMM dd, yyyy')}"></td>

                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div><!-- container -->

<th:block th:replace="base::Footer"></th:block>
<th:block th:replace="base::FinalJS"></th:block>

</body>

</html>