<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="base:: FinalHead"></head>

<body>

<th:block th:replace="base::FinalNav"></th:block>


<div class="container">
    <div class="row justify-content-center">
        <div class="col col-sm-10 justify-content-center">
            <h1>Welcome!</h1>

            <div sec:authorize!="isAuthenticated()">
                <a class="btn btn-primary" th:href="@{/login}" role="button">Login</a>

                <br /><a class="btn btn-primary" th:href="@{/signup}" role="button">Sign up</a>

                <br/><a class="btn btn-primary" th:href="@{/evaluation}" role="button">Complete student evaluation</a>
            </div>
            <h1> About Project</h1>
            <div sec:authorize="hasAuthority('ADMIN')">
                <a class="btn btn-primary" th:href="@{/addcourse}" role="button">Add course</a><br />
                <a class="btn btn-primary" th:href="@{/allcourses}" role="button">All courses</a><br />
            </div>
            <br />
            <br />
            <div sec:authorize="hasAuthority('TEACHER')">
                <a class="btn btn-primary" th:href="@{/mycoursesdetail}" role="button">My courses</a>  This needs to somehow get the specific teacher<br />
            </div>
            <br />
            <br />
            <div sec:authorize="isAuthenticated()">
                <a class="btn btn-primary" th:href="@{/logout}" role="button">Log out</a><br />
            </div>

        </div>
    </div>
</div>


<th:block th:replace="base::FinalJS"></th:block>

</body>
</html>