<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="base:: FinalHead"></head>

<body class="administrator-module">

<th:block th:replace="base::FinalNavAdmin"></th:block>


<div class="container">
    <div class="col-lg-10 col-lg-offset-1">
        <div class="panel panel-default card card-3">
            <div class="panel-body">
                <h1 class="text-center">Welcome administrator</h1>

            </div>
        </div>
    </div>
</div><!-- container -->

<th:block th:replace="base::Footer"></th:block>
<th:block th:replace="base::FinalJS"></th:block>

</body>
</html>