<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="base:: FinalHead"></head>

<body class="teacher-module">

<th:block th:replace="base::FinalNavTeacher"></th:block>


<div class="text-center final-section-header">


    <h1>TEACHER WHO LOVE TEACHING, teach students to love learning!</h1>

</div>


<th:block th:replace="base::Footer"></th:block>
<th:block th:replace="base::FinalJS"></th:block>

</body>
</html>