<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="base:: FinalHead"></head>

<body class="welcome-module">


<th:block th:replace="base::FinalNav"></th:block>

<div class="container">
    <div class="col-lg-10 col-lg-offset-1">
        <div class="panel panel-default card card-3">
            <div class="panel-body">
                <h1 class="text-center">Welcome to Montgomery College!</h1>
                <h2>If you are a student, you can fill out a <a href="evaluation">Course Evaluation</a>.</h2>
                <h2>Administrators and Teachers can <a href="login">log in </a>or <a href="/signup">sign up </a>to create a new account.</h2>
            </div>
        </div>
    </div>
</div><!-- container -->


<th:block th:replace="base::Footer"></th:block>
<th:block th:replace="base::FinalJS"></th:block>


</body>
</html>
