<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="base:: FinalHead"></head>

<body class="welcome-module">


<th:block th:replace="base::FinalNav"></th:block>

<div class="container">

            <div class="text-left final-header">

                <h1>"To Challenge and Support our Students</h1>
                <h1>to be better that they can be!"</h1>

                <!--<h1>We're Glad You here - Welcome!</h1>-->



    </div>

</div>
<th:block th:replace="base::Footer"></th:block>
<th:block th:replace="base::FinalJS"></th:block>


</body>
</html>
